.FooterBar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.logobottom {
    position: absolute;
    right: 0;
    bottom: 0;
}
.logobottom > a > img {
    width: 120px;
}

@media only screen and (max-width: 1024px) {
    .navbar {
        margin-right: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        margin-right: 40px;
    }
    .logo img {
        width: 220px;
        margin-left: -40px;
    }
    .logo {
        margin-right: -25px;
    }
    .navbar > a > p {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .FooterBar {
        display: block;
        padding-left: 2%;
        z-index: 9;
    }

    .logobottom {
        margin-bottom: -40px;
    }
    .logobottom img {
        width: 30%;
        margin-left: -5%;
    }
    .navbar {
        margin-top: 0px;
    }
    .navbar > a > p {
        font-size: 14px;
        padding-right: 2px;
        padding-left: 2px;
    }
    .navbar > a > img {
        width: 40px;
    }
}
